<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_weather.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            $('#city').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '/autocomplete',
                        method: 'GET',
                        dataType: 'json',
                        data: {
                            query: request.term
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
</head>
<body>

    <div class="container">
        <h1>Weather Forecast</h1>
        <form action="/weather" method="post">
            <label for="city">Enter city name:</label>
            <input type="text" id="city" name="city" required autocomplete="off">
            <label for="units">Units:</label>
            <select id="units" name="units">
                <option value="metric">Celsius</option>
                <option value="imperial">Fahrenheit</option>
            </select>
            <button type="submit">Get Weather</button>
            <button type="button" class="btn btn-link" onclick="window.location.href='/'">Home</button>
            
        </form>
    </div>
</body>
</html>
